
<li [ngClass]="{'list-group-item': true,
'list-group-item-success': loveIts > 0 ,
'list-group-item-danger': loveIts < 0}">
  <div class="row">
    <div class="col-sm-10">
      <h3> {{postTitle}} </h3>
    </div>
    <div class="col-sm-2">
      <h4 style="float:right">{{updateDate | date: 'short'}}</h4>
    </div>
  </div>
  <p>{{postContent}}</p>
  <button class="btn btn-success" style="margin-right: 1%;" (click)="onLoveIt()">Love it!</button>
  <button class="btn btn-danger offset-md-6" (click)="onDontLoveIt()">Don't love it!</button>
  <button class="btn btn-danger "  style="float:right" (click)="onRemove()">Supprimer post</button>

</li>

